/* something is making my board warp in size when aa box is clicked.... */
body {
  background-color: rgb(74, 74, 74);
  
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  color: black;
}

#playerNameBoxes{
border-style: solid White;

}


#board {
  height: 330px;
  width: 330px;
  background-color: white;
  margin: auto;
}


.restartText {
  color: grey;
}

#Game-over-box {
  text-align: center;
  background-color: #070e06;
  border: 1px solid rgb(160, 6, 6);
  padding: 75px;
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  color: grey;
}

#resetButton {
  margin: 0 auto;
  display: block;
  margin-top: -49px;
}
#WinnerIsText {
  padding-bottom: 55px;
  font-size: 30px;
  margin-top: 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
.cell {
  border: 1px solid rgba(140, 140, 193, 0.916);
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
}