body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#gameBoard {
  cursor: pointer;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  position: relative;
}

.boardSquare {
  color: rgb(236, 82, 134);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.rightBorder {
  border-right: 0.5em solid grey;
}

.bottomBorder {
  border-bottom: 0.5em solid grey;
}

.strike {
  position: absolute;
  background-color: grey;
}

.strike-row-1 {
  width: 100%;
  height: 10px;
  top: 9%;
}

.strike-row-2 {
  width: 100%;
  height: 10px;
  top: 31%;
}

.strike-row-3 {
  width: 100%;
  height: 10px;
  top: 54%;
}

.strike-column-1 {
  height: 100%;
  width: 10px;
  left: 14%;
}

.strike-column-2 {
  height: 100%;
  width: 10px;
  left: 47.25%;
}

.strike-column-3 {
  height: 100%;
  width: 10px;
  left: 82.75%;
}

.strike-diagonal-1 {
  width: 90%;
  height: 10px;
  top: 32.5%;
  left: 5%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  width: 90%;
  height: 10px;
  top: 32.5%;
  left: 5%;
  transform: skewY(-45deg);
}

#gameIsOver {
  text-align: center;
  border: 10px  solid grey;
  padding: 100px;
  width: 50px;
  margin-top: 50px;
  background-color;
  color: grey
}

h1 {
  color: rgb(236, 82, 134);
}
